*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #255EE9; 
  font-family: 'Noto Sans', sans-serif;
}

.container, 
header .header-container, 
footer .foot-nav-container {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  width: 80%;
}

.container { 
  justify-content: center;
  padding: 20px 0px;
}

header .header-container, 
footer .foot-nav-container {
  justify-content: space-between;
}

header {
  background-color: #255EE9;
  height: 50px;
}

header .header-container {
  background-color: #255EE9;
  padding-top: 7px
}


header .logo {
  text-align: left;
}

header .nav {
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  padding-top: 10px;
}

header .nav ul {
  list-style: none;
}

header .nav li {
  display: inline;
  padding: 15px;
}

header #login {
  text-align: center;
  margin-top: 5px;
}

/* Hero section  */

.hero-section {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  padding: 130px 0;
}

.hero-item {
  width: 60%;
  margin: 5px;
  text-align: center;
}

/* /Hero section  */

/* white background section */
/* altezze da togliere */

section.white-background {
  background-color: #ffffff;

}


.lightblue-block {
  border: 1px dashed black;
  width: 60%;
  background-color:#1e90ff;
}

.pink-block {
  border: 1px dashed black;
  background-color: #ffc0cb;
  width: 40%;
}

/* gray background section */

section.gray-background {
  background-color: #d3d3d3;
}

/*gray background section whit green block*/

section.gray-green-section {
  background-color:#d3d3d3;
}

.gray-green-section .green-block {
  background-color: #228b22;
  border: 1px dashed black;
  width: 100%;
}

/* footer  */

/* altezze da togliere */

footer {
  background-color: #23272a;
}

footer .first-col {
  border: 1px dashed white;
  width: calc(100% / 3);
}

footer .col {
  border: 1px dashed white;
  width: calc(100% / 6);
  background-color: #1e90ff;
}

footer .first-col {
  background-color: #f08080;
}

/* footer nav  */

footer .foot-nav-container {
  border-top: 1px solid white;
  padding-top: 10px;
}

.logo-nav, #registrati {
  background-color: pink;
  width: 50px;
  height: 20px;
}


/* /footer  */

/* UTILITIES */

/* scritta colore bianco */

.white-txt {
  color: white;
}

/* buttons */

.btn {
  border-radius: 13px;
}

.btn-small {
  background-color: white;
  width: 60px;
  height: 25px;
  font-size: 11px;
  padding-top: 4px;
}

.big-txt {
  font-size: 2rem;
  padding-bottom: 15px;
}

.small-txt {
  font-size: .8rem;
  word-spacing: 2px;
  line-height: 20px;
}